.CategoryForm {
  padding: 3% 0;
  display: flex;
  justify-content: center;
  gap: 2px;
  height: 32px;
  padding-bottom: 8px;
}
.formInput {
  height: 26px;
}

.errors {
  color: red;
  padding-bottom: 8px;
}
