.InfoBar {
  margin: 0;
  background-color: black;
  color: white;
}

.instructions {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5em;
  padding-bottom: 3%;
}
.bold {
  font-weight: 600;
}

.header {
  margin: 0;
  padding: 4vh;
}
