.Error {
  color: red;
}

.TodoListContainer,
.archiveContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.archiveContainer {
  color: grey;
  padding-top: 30px;
}

.archiveContainer button {
  background-color: grey;
}
.archiveContainer button:hover {
  background-color: #606060;
}
